.detail-div{
    text-align: center;
    color: rgb(102, 102, 245);
    width: 75%;
    margin: auto;
    
}
.buy{
    border: none;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
}
