.header-div{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100px;
    
    width: 100%;

    
    /* height: 100px;
    background-color: #09212b;
    color: white; */
}
.header-left{
    background-color: turquoise;
    color:#09212b;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-right{
    background-color: #09212b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-weight: bold;
}
.img-logo{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
