.footer{
    height: 300px;
    background-color: #09212b;
    color: white;
    text-align: center;
}
.navigation{
    display: flex;
    justify-content: center;
}
.quick-recap{
    width: 75%;
    justify-items: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.quick-recap p{
    text-decoration: none;
    color: white;
    font-weight: bold;
}